*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    background-color: #f1f1f1;   
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.form{
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    margin: 24px;
    align-self: center;
}

.form .heading{
    font-size: 24px;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 20px;
    font-weight: lighter;
    line-height: 20px;
    margin-top: 15px;
    font-weight: 300;
  }
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 18px;
    font-size: 14px;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
  }
  
  .form-control:hover {
    border-color: #1dbfaf;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
  }
  .form-group .horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .form-group .horizontal .box-male,.box-female,.box-other{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
  }

  .form-group .horizontal .title{
    padding: 0px 15px;
  }
  .form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #1ac7b6;
  }
  
  .spacer {
    margin-top: 36px;
  }
  
